@define-color base #1f1f28;
@define-color text #dcd7ba;
@define-color black #090618;
@define-color red #c34043;
@define-color green #76946a;
@define-color yellow #c0a36e;
@define-color blue #7e9cd8;
@define-color magenta#957fb8;
@define-color cyan #6a9589;
@define-color white #c8c093;
@define-color base2 #16161d;
@define-color surface0 #c8c093;
@define-color surface2 #7e9cd8;
