@define-color base #1d2021;
@define-color green #98971a;
@define-color red #fb4934;
@define-color sapphire #83a598;
@define-color yellow #fabd2f;
@define-color blue #458588;
@define-color text #fbf1c7;
@define-color subtext1 #ebdbb2;
@define-color subtext0 #d5c4a1;
@define-color surface1 #3c3836;
@define-color surface2 #504945;
