@define-color base #f9f5d7;
@define-color green #79740e;
@define-color text #282828;
@define-color subtext0 #3c3836;
@define-color subtext1 #504945;
@define-color surface1 #ebdbb2;
@define-color surface2 #d5c4a1;
