@define-color pink #b48ead;
@define-color red #bf616a;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #5d677b;
@define-color blue #81a1c1;
@define-color lavender #b4befe;
@define-color text #d8dee9;
@define-color subtext1 #b6bcc7;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #434c5e;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #4c566a;
@define-color mantle #181825;
@define-color crust #11111b;
