@import "./nord/nord.css";

* {
    border: none;
    font-family: Hasklug Nerd;
    font-size: 13px;
    color: shade(@text, 1);
    border-radius: 10px;
    /* font-weight: bold; */
}

window {
    /*font-weight: bold;*/
    margin: 0 10px 0 10px;
}

window#waybar {
    background: shade(@base, 0.9);
}

tooltip {
    background: shade(@base, 0.9);
}

/*-----module groups----*/
.modules-right {
    background-color: shade(@base, 0.9);
    margin: 0px 10px 0 0;
}

.modules-center {
    background-color: shade(@base, 0.9);
    margin: 0 0 0 0;
}

.modules-left {
    border-radius: 11px;
    margin: 0px 0 0 5px;
    padding: 0px 0px 0 0;
    background-color: shade(@base, 0.9);
}

/*-----modules indv----*/

#workspaces {
    background-color: shade(@base, 0.9);
}

#workspaces button {
    padding: 1px 5px;
    border-radius: 10px;
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: shade(@overlay0, 1);
}

#workspaces button.focused {
    /* background-color: shade(@overlay0, 1); */
    background-color: shade(@sapphire, 1);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu {
    padding: 0 10px;
}

#cpu {
    color: @yellow;
}

#battery {
    color: @green;
}

#network {
    color: @red;
}

#pulseaudio {
    color: @blue;
}


#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-power {
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}

/*-----Indicators----*/
#idle_inhibitor {
    padding: 0 10px;
    color: @subtext1;
}

#idle_inhibitor.activated {
    color: @text;
}

#pulseaudio.muted {
    color: #cc3436;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#cpu.critical {
    color: @magenta;
}

#battery.critical:not(.charging) {
    color: @red;
}

#temperature.critical {
    color: #cc3436;
}

/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
