@define-color base #222436;
@define-color green #c3e88d;
@define-color text #c8d3f5;
@define-color subtext1 #828bb8;
@define-color subtext0 #636da6;
@define-color surface1 #191b29;
@define-color surface2 #2f334d;
